.appvilla-login-body {
    background-color: #f9f9f9; 
    color: #333;
}

.login-card {
    background: #fff;
    border: none;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.appvilla-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.appvilla-subtitle {
    color: #555;
    font-size: 0.9rem;
    font-weight: 400;
}

.appvilla-label {
    color: #555;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.appvilla-input-group .input-group-text {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-right: none;
    color: #FF6B81;
}

.appvilla-input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px;
}

.appvilla-input:focus {
    background-color: #fff;
    border-color: #FF6B81;
    color: #333;
    box-shadow: none;
}

.appvilla-input::placeholder {
    color: #aaa;
}

.appvilla-input-group:focus-within .input-group-text {
    border-color: #FF6B81;
}

.appvilla-check:checked {
    background-color: #FF6B81;
    border-color: #FF6B81;
}

.appvilla-link, .appvilla-link-bold {
    color: #FF6B81;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.appvilla-link-bold {
    font-weight: 600;
}

.appvilla-link:hover, .appvilla-link-bold:hover {
    color: #333;
}

.btn-appvilla {
    background: #FF6B81;
    color: #fff;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
}

.btn-appvilla:hover {
    background: #e65268;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 107, 129, 0.3);
}

.text-muted {
    color: #666;
    font-size: 0.9rem;
}

.appvilla-back-link {
    display: inline-block;
    margin-top: 15px;
    color: #777;
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.3s;
}

.appvilla-back-link:hover {
    transform: translateX(-2px);
    color: #FF6B81;
}

.social-login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-login-buttons a {
    text-decoration: none;
}

.social-icon i {
    font-size: 1.5rem;
    color: rgb(8, 24, 40);
    transition: color 0.3s ease;
}

.social-icon:hover i {
    color: #FF6B81;
}
